body{
    overflow-x: hidden !important;
}

.content-main{
    padding: 20px 80px 0 80px; 
    position: sticky;
    top: 80px;
}

._1tt196k{
    display: none;
}

._mk7bo2{
    display: none;
}

.btn-logo{
    flex:1 0 140px
}
 

.trending{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap:50px;
    margin-bottom: 30px; 
}

.trending div img{
    width: 100%;
    border-radius: 10px;
}

.trending .heart{
    position: absolute;
    margin-left: 18%;
    margin-top:8px;
    font-size: 20px;
}



.trending h3{
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
}

.trending h6{
    font-weight: 100;
}

.sub-title{
    font-size: 2vw;
}

.footer{
    margin: 80px 0 10px;
    text-align: center;
}

.footer a{
    text-decoration: none;
    color: #999;
    font-size: 22px;
    margin: 0 10px;
}

.footer hr{
    background: #999;
    height: 1px;
    width: 100%;
    border: 0;
    margin: 20px 0;
}

.footer p{
    padding-bottom: 15px;
}

.container{
    margin: auto;
    width: 30%;
}

.search-bar{
    border: 1px solid rgba(0, 0, 0, 0.312);
    background: #fff;
    width: 500px;
    margin:auto;
    padding: 6px 5px 6px 0px;
    border-radius: 50px;
    box-shadow: 0px 1px 5px rgba(0,0,0,50%);
}

.search-bar form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.search-bar form input{
    font-size: 30px;
    display: block;
    border: 0;
    outline: none;
    background: transparent;
}

.vertical { 
    margin: auto 10px;
    display: inline-block;
    color: #999 !important;
    font-size: xx-large;
  } 

.search-bar form button[type='submit']{
    background: #ff5361;
    margin: 0 0 0 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border:0;
    outline: none;
    cursor: pointer;
}

.search-bar form button{
    background: none;
    border:0;
    outline: none;
    cursor: pointer;
}

.search-bar form button img{
    width: 17px;
}

    .location-input{
        margin: auto;
    }

.search-bar form label{
    font-weight: 600;
}

.btn-user button:hover{
    box-shadow: 0 0 2px 2px #00000029;
     
}

.btnHote:hover{
    background: #99999921;
    color:black;
}

.btnHote{
    color:black; 
    cursor: pointer;
    height: 40px; 
    padding: 10px; 
    border-radius: 20px;
    flex: 0 0 auto;
    width: 120px !important;
}

.btn{
    text-transform: none !important;
}

/*-------------------Filtre-------------------------------*/


.container-filtre{
    padding: 0 80px;
    z-index: 1;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    position: sticky;
    top: 80px;
}

.container-filtre h2{
    font-weight: 300;
    margin-bottom: 1rem;
}

.carousel-container{
    margin: auto;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.carousel-content{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 0.5rem; 
    transition: all 0.3s ease;
    transform: translateY(-50%);
}
.carousel-content .box{
    width: 70px;
    margin-right: 1rem;
    padding: 1.2rem;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.carousel-content .box img{
    width: 30px;
}

.btnFiltre{
    position: absolute;
    top: 50%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    outline: none;
    border: none;
    background: #ff5361;
    cursor: pointer;
    transform: translateY(-50%) scale(0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.showcarousel{
    transform: translateY(-50%) scale(1);
    opacity: 1;
    visibility: visible;
}

.btnFiltre.left{
    left: 0.5rem;
}

.btnFiltre.right{
    right: 0.5rem;
}

.dropdown-menu{
    box-shadow: 1px 2px 15px 5px rgb(0 0 0 / 7%), 0 10px 20px -2px rgb(0 0 0 / 4%) !important;
}
.dropdown-menu .dropdown-item{
    cursor: pointer;
}



.modal-header .btn-close{
    padding: 0 !important;
    margin: 0 !important;
    height: 13px !important;
    width: 13px !important;
}

.modal-title{
    font-size: 18px;
    margin: auto !important;
}

.modal-body .container{
    padding: 24px !important;
    flex: 1 1 auto !important;
    overflow-y: auto !important;
    outline: none !important;
}

._je2ned {
    margin-top: 8px !important;
    margin-bottom: 24px !important;
}

._u72b34 {
    font-size: 22px !important;
    line-height: 26px !important;
    color: rgb(34, 34, 34) !important;
    font-weight: 600 !important;
    margin-bottom: 8px !important;
}

._ey3tib {
    position: relative !important;
    display: flex !important;
    width: 100% !important;
    margin: 0px !important;
    border: none transparent !important;
    color: rgb(34, 34, 34) !important;
    background-color: transparent !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 16px !important;
    line-height: 20px !important;
    font-weight: 400 !important;
}

._19nw8j1 {
    position: relative !important;
    flex: 1 1 auto !important;
    padding: 0px !important;
}

._zhftk97 {
    position: absolute !important;
    top: 18px !important;
    left: 12px !important;
    right: 12px !important;
    margin: 0px !important;
    padding: 0px 24px 0px 0px !important;
    color: rgb(113, 113, 113) !important;
    pointer-events: none !important;
    transform-origin: 0% 0% !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 16px !important;
    line-height: 20px !important;
    transition: -ms-transform 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s, -webkit-transform 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s, transform 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s !important;
    transform: translateY(-8px) scale(0.75) !important;
    font-weight: 400 !important;
}

._11hx67x {
    max-width: 100% !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

._1iwku6d {
    min-height: 56px !important;
    width: 100% !important;
    border: none !important;
    outline: none !important;
    margin: 0px !important;
    padding: 26px 36px 10px 12px !important;
    background-color: transparent !important;
    color: inherit !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    appearance: none !important;
}

._lmil0 {
    -webkit-box-pack: center !important;
    -webkit-box-align: center !important;
    position: absolute !important;
    right: 0px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 100% !important;
    max-width: 50% !important;
    min-width: 36px !important;
    padding-right: 12px !important;
    pointer-events: none !important;
    color: rgb(34, 34, 34) !important;
}


#ModalIndispo .btn{
    padding: 13px !important; 
    font-size: 15px;
    text-transform: none !important;
    
}

.btn-continuer{
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
    color: #fff !important;
    margin: 15px 0 30px 0 !important;
}

.btn-outline-dark {
    border: 1px solid !important;
}

._1a2vq1h {
    -webkit-box-align: center !important;
    display: flex !important;
    align-items: center !important;
    font-weight: 600 !important;
    font-size: 14px !important;
}

._1x0diny1 {
    width: 100% !important;
    margin-top: 16px !important;
    margin-bottom: 16px !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 16px !important;
}

._16fq9mb {
    -webkit-box-align: center !important;
    display: flex !important;
    align-items: center !important;
    margin: 16px 0px !important;
}

._16fq9mb::before {
    content: "" !important;
    display: block !important;
    width: 100% !important;
    height: 1px !important;
    background-color: rgb(221, 221, 221) !important;
    margin-right: 16px !important;
}

._16fq9mb::after {
    content: "" !important;
    display: block !important;
    width: 100% !important;
    height: 1px !important;
    background-color: rgb(221, 221, 221) !important;
    margin-left: 16px !important;
}



/*---------------------------Header--------------------*/

.h1p4yt3r[class][class] {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 10;
    contain: size style layout;
}

.c1kn6kxw[class][class] {
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 100;
    --header_brand-color: var(--ihf-tp-q);
    position: relative;
}

.cazj9f1[class][class] {
    padding: 0 80px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
}

.cylj8v3[class][class] {
    flex: 0 1 auto;
    min-width: 348px;
    padding: 0 24px;
    text-align: center;
}

.f1ioqu24{
    width: 100%;
    position: fixed;
    bottom: 90px;
    z-index: 1000;
    text-align: center ;
}

.bottomassit{
    padding: 14px 70px!important;
    width: 100%!important;
    position: fixed!important;
    bottom: 0px!important;
    z-index: 1000!important;
    background-color: #fff!important;
    border-top: 1px solid #0000001f!important;
}

.bottomassit a:hover{
    text-decoration: underline !important;
}

._15vc6yg {
    display: inline-block !important;
    text-align: center !important;
    width: 19px !important;
    font-size: 14px !important;
    line-height: 18px !important;
}

._1e6wtwm5 {
    font-family: inherit !important;
    font-weight: inherit !important;
    font-style: inherit !important;
    font-variant: inherit !important;
    text-decoration: none !important;
    color: #222222 !important;
    font-size: 14px !important;
    line-height: 18px !important;
    outline: none !important;
}

._pa35zs {
    position: absolute !important;
    display: flex !important;
    top: 16px !important;
    left: 24px !important;
    z-index: 1 !important;
}

._qcfp0r {
    margin-top: 64px !important;
    overflow: auto !important;
    padding: 0px 24px !important;
    height: 85vh !important;
    max-height: 875px !important;
}

._1xkr92p {
    overflow-y: auto !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    margin-left: -12px !important;
    margin-right: -12px !important;
}

._qc3ank {
    display: flex !important;
    white-space: nowrap !important;
    overflow: visible !important;
}

._fd0fliz {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 14px !important;
    line-height: 18px !important;
    font-weight: 600 !important;
    border-radius: 8px !important;
    border: none !important;
    background: transparent !important;
    padding: 10px !important;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    margin-right: 6px !important;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s !important;
    position: relative !important;
    outline: none !important;
    color: rgb(34, 34, 34) !important;
    cursor: default !important;
}

._fd0fliz::after {
    content: "" !important;
    position: absolute !important;
    background-color: rgb(34, 34, 34) !important;
    bottom: -6px !important;
    left: 10px !important;
    width: calc(100% - 20px) !important;
    height: 2px !important;
}

._tns11i {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 14px !important;
    line-height: 18px !important;
    font-weight: 600 !important;
    border-radius: 8px !important;
    border: none !important;
    background: transparent !important;
    color: rgb(113, 113, 113) !important;
    padding: 10px !important;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    margin-right: 6px !important;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s !important;
    position: relative !important;
    outline: none !important;
}

._1wadwfl {
    height: 1px !important;
    background-color: rgb(221, 221, 221) !important;
}

.modal#ModalAssistance {
    border-radius: 15px 15px 0 0;
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 1055;
    /* display: none; */
    width: 100%;
    height: 50%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

._1v0rb9t{
    box-shadow: 0px 1px 0px 1px #00000017;
    -webkit-box-direction:normal !important;
    -webkit-box-orient:vertical !important;
    display:-webkit-box !important;
    display:-moz-box !important;
    display:-ms-flexbox !important;
    display:-webkit-flex !important;
    display:flex !important;
    -webkit-flex-direction:column !important;
    -ms-flex-direction:column !important;
    flex-direction:column !important;
    left:0px !important;
    position:-webkit-sticky !important;
    position:sticky !important;
    right:0px !important;
    top:0px !important;
    -webkit-transition:-webkit-transform 0.2s cubic-bezier(0.35, 0, 0.65, 1),transform 0.2s cubic-bezier(0.35, 0, 0.65, 1) !important;
    -moz-transition:transform 0.2s cubic-bezier(0.35, 0, 0.65, 1) !important;
    transition:-ms-transform 0.2s cubic-bezier(0.35, 0, 0.65, 1),-webkit-transform 0.2s cubic-bezier(0.35, 0, 0.65, 1),transform 0.2s cubic-bezier(0.35, 0, 0.65, 1) !important;
    z-index:1 !important;
    height:var(--explore-nav_height) !important;
}


/*----------------------------------------Content----------------------------------*/

@media (min-width: 950px){
    .gh7uyir[class][class] {
        --breakpoint-grid_columns: 3;
    }
}


@media (min-width: 550px){
    .gh7uyir[class][class] {
        --breakpoint-grid_columns: 2;
    }
}

.gh7uyir[class][class] {
    --breakpoint-grid_column-gap: var(--ikx-k-pe);
    --breakpoint-grid_row-gap: var(--f-fw-z-a-i);
    --breakpoint-grid_columns: 1;
}
.g14v8520[class][class] {
    display: grid;
    grid-auto-flow: row dense;
    grid-auto-rows: var( --breakpoint-grid_auto-rows, minmax(-webkit-min-content,-webkit-max-content) );
    grid-auto-rows: var( --breakpoint-grid_auto-rows, minmax(min-content,max-content) );
    grid-gap: var(--breakpoint-grid_row-gap,0) var(--breakpoint-grid_column-gap,0);
    grid-template-columns: var( --breakpoint-grid_column-template, repeat(var(--breakpoint-grid_columns,1),minmax(0,1fr)) );
}

.c4mnd7m[class][class] {
    display: grid;
    grid-template-columns: 100%;
}

.c1l1h97y[class][class] {
    grid-area: 1 / 1 / 2 / 2;
}

.dir.cy5jw6o[class][class] {
    border-radius: var(--card-container_border-radius,var(--i-g-gvoq));
    box-shadow: var(--card-container_box-shadow,none);
}

.cy5jw6o[class][class] {
    max-width: var(--card-container_max-width,none);
    min-width: var(--card-container_min-width,0);
    position: relative;
    width: var(--card-container_width,auto);
}

.dir.mz543g6[class][class] {
    margin-bottom: var(--b-y-unon);
}

.mz543g6[class][class] {
    --aspect_ratio_wrapper-ratio: 20 / 19;
    --aspect_ratio_wrapper-padding_fallback: 95%;
    --aspect_ratio_wrapper-position_fallback: relative;
}

.dir.c14dgvke[class][class] {
    border-radius: var(--media-container_border-radius,var(--i-g-gvoq));
    background-color: #DDDDDD;
}

@supports (overflow:clip){
    .c14dgvke[class][class] {
        overflow: clip;
    }
}
.c14dgvke[class][class] {
    will-change: transform;
    overflow: hidden;
    pointer-events: var(--media-container_pointer-events,auto);
    position: relative;
}


.rztl681[class][class] {
    display: grid;
    grid-template:
        var( --contentscroller_layout_grid-template,
        'header'
        'scroller'
        'footer' / minmax(0,1fr) );
}

.cp0pqp0[class][class] {
    --contentscroller_contain: layout paint size style;
    --contentscroller_overflow: visible hidden;
}
.cnjlbcx[class][class] {
    --contentscroller_contain: none;
    --contentscroller_content-visibility: unset;
    --contentscroller_controls_z-index: 1;
    --contentscroller_gap: 0px;
    --contentscroller_height: 100%;
    --contentscroller_overflow: hidden;
    --contentscroller_peek: 0;
    --contentscroller_scrollsnapstop: always;
    --contentscroller_visible-items: 1;
}
.rztl681[class][class] {
    display: grid;
    grid-template:
        var( --contentscroller_layout_grid-template,
        'header'
        'scroller'
        'footer' / minmax(0,1fr) );
}

.dir.s1yvqyx7[class][class] {
    -webkit-margin-start: var( --contentscroller_scroller_margin-inline-start, calc(-1 * var(--contentscroller_peek,32px)) );
    margin-inline-start: var( --contentscroller_scroller_margin-inline-start, calc(-1 * var(--contentscroller_peek,32px)) );
    -webkit-margin-end: var( --contentscroller_scroller_margin-inline-end, calc(-1 * var(--contentscroller_peek,32px)) );
    margin-inline-end: var( --contentscroller_scroller_margin-inline-end, calc(-1 * var(--contentscroller_peek,32px)) );
    padding: var(--contentscroller_scroller_padding,0);
}

.dir.s1yvqyx7[class][class] {
    -webkit-margin-start: var( --contentscroller_scroller_margin-inline-start, calc(-1 * var(--contentscroller_peek,32px)) );
    margin-inline-start: var( --contentscroller_scroller_margin-inline-start, calc(-1 * var(--contentscroller_peek,32px)) );
    -webkit-margin-end: var( --contentscroller_scroller_margin-inline-end, calc(-1 * var(--contentscroller_peek,32px)) );
    margin-inline-end: var( --contentscroller_scroller_margin-inline-end, calc(-1 * var(--contentscroller_peek,32px)) );
    padding: var(--contentscroller_scroller_padding,0);
}
.s1yvqyx7[class][class] {
    grid-area: var(--contentscroller_scroller_grid-area,scroller);
    -webkit-margin-before: var(--contentscroller_scroller_margin-block-start,unset);
    margin-block-start: var(--contentscroller_scroller_margin-block-start,unset);
    -webkit-margin-after: var(--contentscroller_scroller_margin-block-end,unset);
    margin-block-end: var(--contentscroller_scroller_margin-block-end,unset);
    place-self: var(--contentscroller_scroller_place-self,auto);
}
.s1yvqyx7[class][class] {
    grid-area: var(--contentscroller_scroller_grid-area,scroller);
    -webkit-margin-before: var(--contentscroller_scroller_margin-block-start,unset);
    margin-block-start: var(--contentscroller_scroller_margin-block-start,unset);
    -webkit-margin-after: var(--contentscroller_scroller_margin-block-end,unset);
    margin-block-end: var(--contentscroller_scroller_margin-block-end,unset);
    place-self: var(--contentscroller_scroller_place-self,auto);
}

@supports (aspect-ratio:1 / 1){
    .awuxh4x[class][class] {
        aspect-ratio: var(--aspect_ratio_wrapper-ratio,unset);
    }
}

@supports (aspect-ratio:1 / 1){
    .awuxh4x[class][class] {
        aspect-ratio: var(--aspect_ratio_wrapper-ratio,unset);
    }
}

.cw9aemg[class][class] {
    height: 100%;
    min-width: 0;
    position: unset;
}

.cw9aemg[class][class] {
    height: 100%;
    min-width: 0;
    position: unset;
}

.dir.c14whb16[class][class] {
    margin: 0;
    -webkit-padding-start: var( --contentscroller_padding-inline-start, var(--contentscroller_peek,32px) );
    padding-inline-start: var( --contentscroller_padding-inline-start, var(--contentscroller_peek,32px) );
    -webkit-padding-end: var( --contentscroller_padding-inline-end, var(--contentscroller_peek,32px) );
    padding-inline-end: var( --contentscroller_padding-inline-end, var(--contentscroller_peek,32px) );
}

.dir.c14whb16[class][class] {
    margin: 0;
    -webkit-padding-start: var( --contentscroller_padding-inline-start, var(--contentscroller_peek,32px) );
    padding-inline-start: var( --contentscroller_padding-inline-start, var(--contentscroller_peek,32px) );
    -webkit-padding-end: var( --contentscroller_padding-inline-end, var(--contentscroller_peek,32px) );
    padding-inline-end: var( --contentscroller_padding-inline-end, var(--contentscroller_peek,32px) );
}
@supports (scroll-behavior:smooth){
    .c14whb16[class][class] {
        scroll-snap-type: var(--contentscroller_scrollsnaptype,inline mandatory);
    }
}
.c14whb16[class][class] {
    contain: var(--contentscroller_contain);
    contain-intrinsic-size: var(--contentscroller_contain-intrinsic-size);
    content-visibility: var(--contentscroller_content-visibility);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: var( --contentscroller_auto-columns, calc( ( 100% - var(--contentscroller_gap,16px) * (var(--contentscroller_visible-items,unset) - 1) ) / var(--contentscroller_visible-items,unset) ) );
    grid-gap: var(--contentscroller_gap,16px);
    gap: var(--contentscroller_gap,16px);
    grid-template-rows: var(--contentscroller_rows,none);
    grid-template-areas: var(--contentscroller_areas,none);
    justify-content: flex-start;
    min-height: var(--contentscroller_min-height);
    height: var(--contentscroller_height);
    overflow: var(--contentscroller_overflow,auto hidden);
    overscroll-behavior-inline: contain;
    -webkit-padding-before: var(--contentscroller_padding-block-start,unset);
    padding-block-start: var(--contentscroller_padding-block-start,unset);
    -webkit-padding-after: var(--contentscroller_padding-block-end,unset);
    padding-block-end: var(--contentscroller_padding-block-end,unset);
    scroll-padding-inline: var(--contentscroller_peek,32px);
    scrollbar-width: none;
    touch-action: var(--contentscroller_touch-action,pan-x pan-y pinch-zoom);
}
@supports (scroll-behavior:smooth){
    .c14whb16[class][class] {
        scroll-snap-type: var(--contentscroller_scrollsnaptype,inline mandatory);
    }
}

.c14whb16[class][class] {
    contain: var(--contentscroller_contain);
    contain-intrinsic-size: var(--contentscroller_contain-intrinsic-size);
    content-visibility: var(--contentscroller_content-visibility);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: var( --contentscroller_auto-columns, calc( ( 100% - var(--contentscroller_gap,16px) * (var(--contentscroller_visible-items,unset) - 1) ) / var(--contentscroller_visible-items,unset) ) );
    grid-gap: var(--contentscroller_gap,16px);
    gap: var(--contentscroller_gap,16px);
    grid-template-rows: var(--contentscroller_rows,none);
    grid-template-areas: var(--contentscroller_areas,none);
    justify-content: flex-start;
    min-height: var(--contentscroller_min-height);
    height: var(--contentscroller_height);
    overflow: var(--contentscroller_overflow,auto hidden);
    overscroll-behavior-inline: contain;
    -webkit-padding-before: var(--contentscroller_padding-block-start,unset);
    padding-block-start: var(--contentscroller_padding-block-start,unset);
    -webkit-padding-after: var(--contentscroller_padding-block-end,unset);
    padding-block-end: var(--contentscroller_padding-block-end,unset);
    scroll-padding-inline: var(--contentscroller_peek,32px);
    scrollbar-width: none;
    touch-action: var(--contentscroller_touch-action,pan-x pan-y pinch-zoom);
}


.c14whb16[class][class] > :nth-child(n) {
    scroll-snap-align: var(--contentscroller_scrollsnapalign,start);
    scroll-snap-stop: var(--contentscroller_scrollsnapstop,normal);
}

.c14whb16[class][class] > :nth-child(n) {
    scroll-snap-align: var(--contentscroller_scrollsnapalign,start);
    scroll-snap-stop: var(--contentscroller_scrollsnapstop,normal);
}
.rfexzly[class][class] {
    display: block;
    color: transparent;
}

.cjv59qb[class][class] {
    position: relative;
    width: 100%;
    height: 100%;
}

._1h6n1zu {
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
}

.tsz9f4o[class][class] {
    display: grid;
    grid-column-gap: var(--jaa-ni-h);
    grid-template-columns: repeat(2,minmax(-webkit-min-content,auto));
    grid-template-columns: repeat(2,minmax(min-content,auto));
}

.dir.o1q97y5m[class][class] {
    left: 0;
    right: 0;
    padding: var( --media-overlay_padding, 12px 12px 0 );
}

.dir-ltr.o47luuh[class][class] {
    background: linear-gradient(180deg,transparent 80%,rgba(0,0,0,0.25));
}
.o1q97y5m[class][class] {
    display: flex;
    flex: 1;
    flex-flow: column;
    top: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
}

.t1p13dzz[class][class] {
    justify-self: flex-start;
}

.ts9x1g6[class][class] {
    justify-self: flex-end;
}

.ckqgked[class][class] {
    pointer-events: auto;
    height: var(--save-button_height,auto);
    width: var(--save-button_width,auto);
}

.cendrgz[class][class] {
    --save-button_height: calc(24px + 8px);
    --save-button_width: calc(24px + 8px);
}

@media (prefers-reduced-motion: reduce){
    .dir.vq7srz5[class][class] {
        transition: none;
    }
}

.dir.vq7srz5[class][class] {
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    transition: transform 0.25s ease;
    margin: -2px 0 0;
    padding: 2px 0 0 0;
}
.dir.bq05a0m[class][class] {
    cursor: pointer;
    margin: 0;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    background: lightgrey;
}
.vq7srz5[class][class] {
    font-family: 'Circular',-apple-system,'BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: var(--go-h-jh-l);
    outline: none;
    padding: 14px 24px;
    transition: box-shadow 0.2s ease,transform 0.1s ease;
    outline: none;
    align-items: center;
    color: #222222;
    display: inline-flex;
    justify-content: center;
    -webkit-transition: -webkit-transform 0.25s ease;
    width: calc(24px + 8px);
    height: calc(24px + 8px);
}
.bq05a0m[class][class] {
    display: inline-block;
    position: relative;
    -webkit-text-decoration: none;
    text-decoration: none;
    width: auto;
    color: black;
    font-size: 14px;
    font-family: inherit;
    touch-action: manipulation;
}

._r1nvod {
    white-space: nowrap !important;
    font-weight: 400 !important;
    font-size: var(--pricing-guest-primary-line-qualifier-font-size, 14px) !important;
    line-height: var(--pricing-guest-primary-line-qualifier-line-height, 18px) !important;
    min-width: var(--pricing-guest-primary-line-qualifier-min-width, initial) !important;
    overflow: var(--pricing-guest-primary-line-qualifier-overflow, initial) !important;
    text-overflow: var(--pricing-guest-primary-line-qualifier-text-overflow, initial) !important;
}

._tyxjp1 {
    font-weight: var(--pricing-guest-primary-line-unit-price-font-weight, 800) !important;
}

._1jo4hgw {
    -webkit-box-pack: var(--pricing-guest-display-price-alignment, flex-start) !important;
    -webkit-box-align: baseline !important;
    align-items: baseline !important;
    color: rgb(34, 34, 34) !important;
    display: flex !important;
    font-weight: 400 !important;
    justify-content: var(--pricing-guest-display-price-alignment, flex-start) !important;
    flex-wrap: var(--pricing-guest-display-price-flex-wrap, wrap) !important;
}

._14y1gc {
    font-size: var(--pricing-guest-primary-line-font-size, 16px) !important;
    line-height: var(--pricing-guest-primary-line-line-height, 20px) !important;
    overflow: var(--pricing-guest-primary-line-overflow, initial) !important;
    white-space: var(--pricing-guest-primary-line-white-space, inherit) !important;
}

._i5duul {
    -webkit-box-align: center !important;
    -webkit-box-direction: normal !important;
    -webkit-box-orient: horizontal !important;
    display: flex !important;
    flex-flow: row wrap !important;
    align-items: center !important;
}

.dir.p11pu8yw[class][class] {
    margin-top: 6px;
}

.p11pu8yw[class][class] {
    grid-column: 1 / -1;
}

.ru0q88m[class][class] {
    color: var(--f-k-smk-x);
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
}

.s1dxllyb[class][class] {
    align-items: center;
    color: var(--f-k-smk-x);
}

.r4a59j5[class][class] {
    align-items: center;
    display: flex;
}

.t5eq1io[class][class] {
    grid-column: -2/-1;
    grid-row: 1;
    justify-self: end;
}

@supports (overflow:clip){
    .s1cjsi4j[class][class] {
        overflow: clip;
    }
}

.s1cjsi4j[class][class] {
    line-height: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: var(--fo-jk-r-s);
}
.f15liw5s[class][class] {
    grid-column: 1 / -1;
}

.dir.a8jt5op[class][class] {
    border: 0;
    padding: 0;
}

.a8jt5op[class][class] {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    overflow: clip;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

@supports (overflow:clip){
    .t1jojoys[class][class] {
        overflow: clip;
    }
}

.t1jojoys[class][class] {
    line-height: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--title_max-num-lines,1);
    color: var(--f-k-smk-x);
    font-weight: var(--jx-zk-pv);
    word-break: var(--title_word-break,break-all);
}

.g1tup9az[class][class] {
    font-size: 15px;
    line-height: 19px;
    --card-content-grid_gap: var(--d-b-mrdy) var(--fgg-f-l-a);
}

.cb4nyux[class][class] {
    display: grid;
    grid-gap: var(--card-content-grid_gap,var(--h-x-sf-jw));
    gap: var(--card-content-grid_gap,var(--h-x-sf-jw));
    grid-template-columns: var( --card-content-grid_template-columns, minmax(0,1fr) -webkit-max-content );
    grid-template-columns: var( --card-content-grid_template-columns, minmax(0,1fr) max-content );
    grid-template-rows: var(--card-content-grid_template-rows,unset);
}






@media screen and (max-width:1100px) {
    .cazj9f1[class][class] {
        padding: 0 40px;
        justify-content: space-between;
        align-items: center;
        display: flex;
        height: 100%;
        position: relative;
        width: 100%;
        z-index: 1;
    }

    .btn-logo{
        flex:1 0;
    }
}

@media screen and (max-width:900px) {
    .content-main{
        padding: 80px 80px 0 50px; 
    }
    
    
    ._mk7bo2{
        display: block;
    }

    .f1ioqu24{
        display: none;
    }

    .bottomassit{
        display:none;
    }

    ._1tt196k{
        -webkit-box-align: center !important;
        display: flex !important;
        align-items: center !important;
        border-top: 1px solid rgb(235, 235, 235) !important;
        position: fixed !important;
        bottom: -60px !important;
        height: 125px !important;
        left: 0px !important;
        right: 0px !important;
        padding-bottom: 60px !important;
        contain: paint !important;
        background: rgb(255, 255, 255) !important;
        transition: -ms-transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s, -webkit-transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s, transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s, visibility 0.2s ease 0s !important;
        z-index: 1 !important;
    }

    ._h0klba {
        -webkit-box-pack: center !important;
        -webkit-box-align: start !important;
        flex: 1 0 auto !important;
        align-items: flex-start !important;
        display: flex !important;
        justify-content: center !important;
        margin: 0px auto !important;
        max-width: 560px !important;
    }

    ._1e1aumh1 {
        -webkit-box-align: center !important;
        -webkit-box-direction: normal !important;
        -webkit-box-orient: vertical !important;
        display: flex !important;
        flex: 1 1 0px !important;
        flex-direction: column !important;
        align-items: center !important;
        cursor: pointer !important;
        background-color: transparent !important;
        text-align: center !important;
        text-decoration: none !important;
        border: 0px !important;
        max-width: 20% !important;
        min-width: 0px !important;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
        overflow-wrap: break-word !important;
        hyphens: auto !important;
        padding: 0px 2px !important;
        color: rgb(255, 56, 92) !important;
    }

    ._jgit7bg {
        -webkit-box-align: center !important;
        -webkit-box-pack: center !important;
        width: 30px !important;
        height: 30px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        margin-bottom: 2px !important;
        position: relative !important;
        color: rgb(255, 56, 92) !important;
    }

    ._45o9ez {
        -webkit-box-align: center !important;
        -webkit-box-direction: normal !important;
        -webkit-box-orient: vertical !important;
        display: flex !important;
        flex: 1 1 0px !important;
        flex-direction: column !important;
        align-items: center !important;
        cursor: pointer !important;
        background-color: transparent !important;
        text-align: center !important;
        text-decoration: none !important;
        border: 0px !important;
        max-width: 20% !important;
        min-width: 0px !important;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
        overflow-wrap: break-word !important;
        hyphens: auto !important;
        padding: 0px 2px !important;
    }

    ._tbbnrnx {
        -webkit-box-align: center !important;
        -webkit-box-pack: center !important;
        width: 30px !important;
        height: 30px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        margin-bottom: 2px !important;
        color: rgb(176, 176, 176) !important;
        position: relative !important;
    }

    ._1yqbv3i {
        font-size: 10px !important;
        line-height: 12px !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        display: -webkit-box !important;
        -webkit-line-clamp: 2 !important;
        -webkit-box-orient: vertical !important;
        font-weight: 600 !important;
        overflow-wrap: break-word !important;
        color: rgb(113, 113, 113) !important;
    }

    ._s4tclwz {
        font-size: 10px !important;
        line-height: 12px !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        display: -webkit-box !important;
        -webkit-line-clamp: 2 !important;
        -webkit-box-orient: vertical !important;
        font-weight: 600 !important;
        overflow-wrap: break-word !important;
        color: rgb(34, 34, 34) !important;
    }

    /*---------------------------- Navbar----------------------------------*/

    .container-filtre{
        display: none;
    }

    .cazj9f1{
        display: none !important;
    }

    .dir.e11vjh0i[class][class] {
        background: var(--f-mkcy-f);
        border: 0.5px solid rgba(0,0,0,0.08);
        box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
        transform: translate3d(0,0,0);
    }

    .dir.ilrd0ld[class][class] {
        padding: 14px 24px 0 24px;
    }

    .c109ki4m[class][class] {
        align-items: stretch;
        color: var(--f-k-smk-x);
        display: flex;
        min-height: 56px;
        min-width: 285px;
        border-radius: 100px;
    }

    .ljicvoc[class][class] {
        align-items: center;
        display: flex;
        min-width: 100px;
        width: 100%;
    }

    ._1et6785v {
        -webkit-box-align: center !important;
        cursor: pointer !important;
        position: relative !important;
        touch-action: manipulation !important;
        font-family: inherit !important;
        font-size: inherit !important;
        line-height: inherit !important;
        font-weight: inherit !important;
        border-radius: 0px !important;
        outline: none !important;
        transition: none 0s ease 0s !important;
        -webkit-tap-highlight-color: transparent !important;
        background: transparent !important;
        border: none !important;
        color: inherit !important;
        display: flex !important;
        margin: 0px !important;
        padding: 0px !important;
        text-align: inherit !important;
        text-decoration: none !important;
        height: 100% !important;
        width: 100% !important;
        align-items: center !important;
        min-width: 0px !important;
        user-select: none !important;
    }

    .dir-ltr.l1762013[class][class] {
        padding: 0 16px 0 20px;
    }

    .dir-ltr.cfpmckc[class][class] {
        padding-left: 2px;
    }
    .fw09vnz[class][class] {
        display: flex;
        min-width: 0;
    }
    .cfpmckc[class][class] {
        flex-direction: column;
        width: 100%;
    }

    .fw09vnz[class][class] {
        display: flex;
        min-width: 0;
    }
    .p1uhuw2g[class][class] {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
    }

    .i1hupcay[class][class] {
        display: flex;
        min-width: 50px;
    }

    .c120lmsc[class][class] {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .fw09vnz[class][class] {
        display: flex;
        min-width: 0;
    }
    
    .s1t0vaho[class][class] {
        color: #717171;
        display: flex;
        font-size: 12px;
        line-height: 16px;
    }

    .i1hupcay[class][class] {
        display: flex;
        min-width: 50px;
    }

    .c120lmsc[class][class] {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .dir.s1zug1q[class][class] {
        padding: 0 5px;
    }

    .r15cp21x[class][class] {
        display: flex;
    }

    @media (prefers-reduced-motion: reduce){
        ._njezmzv {
            transition: none 0s ease 0s !important;
        }
    }

    ._njezmzv {
        -webkit-box-align: center !important;
        cursor: pointer !important;
        position: relative !important;
        touch-action: manipulation !important;
        font-family: inherit !important;
        font-size: inherit !important;
        line-height: inherit !important;
        font-weight: inherit !important;
        border-radius: 0px !important;
        outline: none !important;
        transition: none 0s ease 0s !important;
        -webkit-tap-highlight-color: transparent !important;
        background: transparent !important;
        border: none !important;
        color: inherit !important;
        display: flex !important;
        margin: 0px !important;
        padding: 0px !important;
        text-align: inherit !important;
        text-decoration: none !important;
        height: 100% !important;
        width: 100% !important;
        align-items: center !important;
        min-width: 0px !important;
        user-select: none !important;
    }

    .dir.f1nj4bis[class][class] {
        border: 1px solid #DDDDDD;
        border-radius: 25px;
        margin: 0 10px;
    }
    
    .f1nj4bis[class][class] {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        height: 36px;
        justify-content: center;
        width: 36px;
    }

    ._1vd92pv {
        -webkit-box-pack: center !important;
        -webkit-box-align: center !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        position: relative !important;
    }

    @supports (padding: env(safe-area-inset-bottom)){
        ._1v0rb9t {
            padding-left: env(safe-area-inset-left) !important;
            padding-right: env(safe-area-inset-right) !important;
        }
    }

    ._1v0rb9t {
        -webkit-box-direction: normal !important;
        -webkit-box-orient: vertical !important;
        display: flex !important;
        flex-direction: column !important;
        left: 0px !important;
        position: sticky !important;
        right: 0px !important;
        top: 0px !important;
        transition: -ms-transform 0.2s cubic-bezier(0.35, 0, 0.65, 1) 0s, -webkit-transform 0.2s cubic-bezier(0.35, 0, 0.65, 1) 0s, transform 0.2s cubic-bezier(0.35, 0, 0.65, 1) 0s !important;
        z-index: 1 !important;
        height: var(--explore-nav_height) !important;
    }

    ._mk7bo2 {
        position: unset !important;
        z-index: unset !important;
    }

    .dir.coxzsxx[class][class] {
        background: white;
    }
    .coxzsxx[class][class] {
        position: relative;
        z-index: 1;
    }

    .dir.w17rkehr[class][class] {
        background-color: #FFFFFF;
    }
    
    .w17rkehr[class][class] {
        --chipsbar_height: 74px;
        --chipsbar_chip-spacing: 16px;
        --chipsbar_chip-width: 64px;
        --chipsbar_underline-margin: 12px;
        --chipsbar_box-shadow: rgb(0 0 0 / 16%) 0 0 6px;
        --contentscroller_scroller_margin-inline-start: 0;
        --contentscroller_scroller_margin-inline-end: 0;
        --contentscroller_peek: 24px;
        --contentscroller_gap: var(--chipsbar_chip-spacing);
        --contentscroller_auto-columns: max-content;
        --contentscroller_scrollsnaptype: none;
    }

    .dir.clu53zf[class][class] {
        margin-inline: auto;
        padding-inline-end: var(--explore_padding-inline);
    }
    
    .clu53zf[class][class] {
        max-width: 1440px !important;
    }
    .c1yfmptw[class][class] {
        max-height: 74px;
        display: grid;
        grid-template-columns: 100%;
    }

    .c1yfmptw[class][class] > :nth-child(n) {
        grid-area: 1 / 1 / 2 / 2;
    }
    @supports (overflow-clip-margin:4px){
        .e1gc5f0n[class][class] {
            contain: strict;
            overflow-clip-margin: 4px;
        }
    }
    .e1gc5f0n[class][class] {
        width: 100%;
        height: var(--chipsbar_height);
    }

    .s1in1q3d[class][class] {
        position: relative;
    }

    .cbdpsi8[class][class] {
        display: grid;
        overflow: hidden;
        overflow: clip;
        grid-template-columns: minmax(0,1fr);
    }

    .rztl681[class][class] {
        display: grid;
        grid-template:
            var( --contentscroller_layout_grid-template,
            'header'
            'scroller'
            'footer' / minmax(0,1fr) );
    }

    .cw9aemg[class][class] {
        height: 100%;
        min-width: 0;
        position: unset;
    }

    .c14whb16[class][class] {
        padding: 0 24px;
        contain: var(--contentscroller_contain);
        content-visibility: var(--contentscroller_content-visibility);
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: var( max-content, calc( ( 100% - var(--contentscroller_gap,16px) * (var(--contentscroller_visible-items,unset) - 1) ) / var(--contentscroller_visible-items,unset) ) );
        grid-gap: var(16px,16px);
        gap: var(--contentscroller_gap,16px);
        grid-template-rows: var(--contentscroller_rows,none);
        grid-template-areas: var(--contentscroller_areas,none);
        justify-content: flex-start;
        min-height: var(--contentscroller_min-height);
        height: var(--contentscroller_height);
        overflow: var(--contentscroller_overflow,auto hidden);
        overscroll-behavior-inline: contain;
        -webkit-padding-before: var(--contentscroller_padding-block-start,unset);
        padding-block-start: var(--contentscroller_padding-block-start,unset);
        -webkit-padding-after: var(--contentscroller_padding-block-end,unset);
        padding-block-end: var(--contentscroller_padding-block-end,unset);
        scroll-padding-inline: var(--contentscroller_peek,32px);
        scrollbar-width: none;
        touch-action: var(--contentscroller_touch-action,pan-x pan-y pinch-zoom);
    }

    .dir.c1l3w0tx[class][class] {
        cursor: pointer;
        text-align: center;
        border-radius: var(--go-h-jh-l);
        background-color: unset;
        border: unset;
        padding: 4px 0 14px;
        margin: 12px 0 0;
        transition: box-shadow 0.2s ease,color 0.2s ease;
    }
    .c14whb16[class][class] > :nth-child(n) {
        scroll-snap-align: var(--contentscroller_scrollsnapalign,start);
        scroll-snap-stop: var(--contentscroller_scrollsnapstop,normal);
    }
    .ccma3s[class][class] {
        background-color: black;
        color: white;
        color: #000000;
    }
    .c1l3w0tx[class][class] {
        border: 1px solid black;
        background-color: white;
        outline: none;
        padding: 0;
        margin: 0;
        font-size: var(--f-cv-j-j-p);
        line-height: var(--f-l-h-bac);
        color: var(--fo-jk-r-s);
        font-weight: var(--jx-zk-pv);
        width: -webkit-max-content;
        width: max-content;
        -webkit-tap-highlight-color: transparent;
        outline: none;
    }

    .c8gkmzg[class][class] {
        display: flex;
        flex-direction: row;
    }

    .c1w8ohg7[class][class] {
        min-width: revert;
    }
    .c1m2z0bj[class][class] {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: var(--chipsbar_chip-width);
        gap: var(--h-x-sf-jw);
    }

    .dir.i1wps9q8[class][class] {
        transition: filter 200ms ease,transform 200ms ease;
    }
    .i1wps9q8[class][class] {
        max-width: 100%;
        width: var(--chipsbar-chip-image_size,24px);
        height: auto;
        filter: contrast(calc(13 / 44));
    }

    .tamhn2w[class][class] {
        white-space: nowrap;
        position: relative;
    }

    .dir.t1h65ots[class][class] {
        transition: transform 200ms ease;
    }
    .t1h65ots[class][class] {
        display: inline-block;
    }









}







